/*Stylesheet for index(home) page*/

body{
  background-color: black;
}

h1{text-align: center;
  color: white;
  background-color: rgba(40%,40%,60%,25%)
}

a{
  color: yellow;
}

p{
  color: white;
  font-family: Times New Roman;
}

img{
  height: auto;
  width: 90px;
}

ul{
  color: white;
  font-family: Times New Roman;
}

em{
   color: grey;
}

strong{
  color: grey;
}